services:
  db:
    image: mysql:lts
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - '3306:3306'
    volumes:
      - ./dbdata:/var/lib/mysql